snippet :s "small brackets" Ai
(${1})${0}
endsnippet

snippet :c "bracket" Ai
[${1}]${0}
endsnippet

snippet :b "brace" Ai
{${1}}${0}
endsnippet

snippet :a "square brackets" Ai
<${1}>${0}
endsnippet

snippet :q "quotation mark" Ai
"${1}"${0}
endsnippet

snippet :g "single quotes" Ai
'${1}'${0}
endsnippet
